
body, html {margin: 0; padding: 0; height: 100%;}

body {
		background: #F7F8FB url(images/bg.png) center -21px repeat-x;
		position: relative; 
}

body.bighead {
	background: #F7F8FB url(images/bg2.png) repeat-x;
}

#top {
    height:3px;
    width:100%;
    background: #F9B804;
    position:fixed;
    top:0;
}

#centerCol {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 110px;
	padding-bottom: 160px;
	width: 1099px;
}

.left_nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 183px;
	background: url(images/nav.png?=v2) no-repeat;
	height: 100%;
}

.ccenter {
	background: url(images/nav-brand.png?=v3) no-repeat;
}

.burger {
	position: fixed;
	right: 22px;
	top:16px;
}

.positioner {
	position: absolute;
	left: 780px;
}

.sched {
	position: fixed;
	top:116px;
}

.centerlogo {
	position: absolute;
	top: 0px;
	left: -6px;
}

@media only screen and (max-width: 1300px) {
	.left_nav, .left_nav.ccenter {
		width: 80px;
		background: url(images/nav-min.png?=v3) no-repeat;
    }
    .left_nav.ccenter {
    	background: url(images/nav-brand-min.png) no-repeat;
    }

    #centerCol {
    	padding-left: 76px;
    }

	.withlogo {
		background-position:0 0;
	}

	.withlogo #centerCol {
		padding-top: 21px;
	}

	.positioner {
		left:736px;
	}
	.centerlogo {
	top: -45px;
	}
	.withlogo .sched {
    top: 139px;
	}
}
